
<%- include ('../../partials/header.ejs') %>

<%- include ('../../partials/homenavbar.ejs') %>

<%- include ('../../partials/contact-info.ejs') %>

<script>
	let navbar = document.querySelector('.header .navbar');
	let contactInfo = document.querySelector('.contact-info');
	let alltogether = document.querySelector('.navbar-contact');
	
	window.onscroll = () =>{
	navbar.classList.remove('active');
	contactInfo.classList.remove('active');
	}
	
	document.querySelector('#info-btn').onclick = () =>{
	contactInfo.classList.add('active');
	}
	
	document.querySelector('#menutogether-btn').onclick = () =>{
	alltogether.classList.add('active');
	}
	
	document.querySelector('#close-contact-info').onclick = () =>{
	contactInfo.classList.remove('active');
	}
	
	document.querySelector('#close-navbar-contact').onclick = () =>{
	alltogether.classList.remove('active');
	}
	
	document.querySelector('#menu-btn').onclick = () =>{
	navbar.classList.toggle('active');
	};
</script>

<%- include ('../../partials/home.ejs') %>

<section class="projects" id="projects">
	<div class="box-container">
		<h2><%= resultc.title %></h2><br/>
		<% resultc.articlesz.rows.forEach(article => { %>
			<div href="" class="box">
				<div class="image">
					<img src="/<%= article.image %>" alt="">
				</div>
				<div class="content">
					<div class="info">
						<h2><%= article.title %></h2>
						<a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
					</div>
				</div>
			</div>
		<% }) %>
	</div>	
	<div class="row">
		<% if(resultc.pagec > 2) {%>
			<a href="/categories/page/<%= resultc.pagec - 1 %>/<%= resultc.id %>/<%= resultc.title %>" ><img src="/icon/arrowleft.png" class="icon" title="Anterior"></a>
		<% } else if(resultc.pagec == 2) { %>
			<a href="/categories/page/1/<%= resultc.id %>/<%= resultc.title %>" ><img src="/icon/arrowleft.png" class="icon" title="Anterior"></a>
		<% } %>
		<% if(resultc.nextc) { %>
			<a href="/categories/page/<%= resultc.pagec + 1 %>/<%= resultc.id %>/<%= resultc.title %>"><img src="/icon/arrowright.png" class="icon" title="Próxima"></a>
		<% } %>
	</div>
</section>

<%- include ('../../partials/footer.ejs') %>